<div class="content">
    <div class="block-inner">
        <div class="wrap404">
            <div class="right-404">
                <img src="~/Themes/Helloworld/Content/images/404.jpg" alt="Страница 404">
            </div>
            <div class="left-404">
                <img src="~/Themes/Helloworld/Content/images/404title.jpg" alt="Страница 404">
                <p>О нет! Вы все сломали!</p>
                <p>Какая досада...</p>
                <br>
                <p>
                    Но Вы не огорчайтесь, ведь Вы <br>
                    можете <a href="/">вернуться</a>.
                </p>
                <br>
                <p>Вопрос только «Вернуться куда?»  ;)</p>
            </div>
        </div>
    </div><!-- .block-inner -->
</div>